[user]
	name = Ramez Gerges
	email = es-Ramez.Adly2023@alexu.edu.eg
[commit]
	template = ~/.gitmessage
[init]
	defaultBranch = master
[core]
	pager = delta --side-by-side
	editor = vim
[merge]
	conflictstyle = diff3
